<ion-content>
  <div class="login-container">
    <div class="header-section">
      <div
        class="logo-icon"
        style="
          color: var(--ion-color-secondary);
          background: rgba(var(--ion-color-secondary-rgb), 0.1);
        "
      >
        <ion-icon name="person-add"></ion-icon>
      </div>
      <h1>Create Account</h1>
      <p>Join us to start your financial journey</p>
    </div>

    <form [formGroup]="form" class="auth-form">
      <div class="form-item">
        <ion-input
          label="Email Address"
          labelPlacement="stacked"
          mode="md"
          fill="outline"
          placeholder="your@email.com"
          formControlName="email"
        >
        </ion-input>
        @if (form.get('email')?.touched && form.get('email')?.invalid) {
        <ion-text color="danger">Please enter a valid email</ion-text>
        }
      </div>

      <div class="form-item">
        <ion-input
          type="password"
          label="Password"
          labelPlacement="stacked"
          mode="md"
          fill="outline"
          placeholder="Password"
          formControlName="password"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        @if (form.get('password')?.touched && form.get('password')?.invalid) {
        <ion-text color="danger">Min 6 characters required</ion-text>
        }
      </div>

      <div class="form-item">
        <ion-input
          type="password"
          label="Confirm Password"
          labelPlacement="stacked"
          mode="md"
          fill="outline"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>

        @if(!passwordsMatch() && form.touched){
        <ion-text color="danger">Passwords do not match</ion-text>
        }
      </div>

      <ion-button
        expand="block"
        class="auth-btn"
        color="secondary"
        [disabled]="form.invalid || loading"
        (click)="register()"
      >
        Register
      </ion-button>
    </form>

    <p class="switch">
      Already have an account? <br />
      <a routerLink="/auth/login">Login here</a>
    </p>
  </div>
</ion-content>
