<ion-content>
  <img src="assets/img/register.jpg" class="logo" width="100%" />
  <div class="auth-container">
    <ion-card-header>
      <ion-card-title>Create Account 🚀</ion-card-title>
      <ion-card-subtitle>Start tracking your finance</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="form">
        <div class="form-item">
          <ion-input
            label="Email"
            labelPlacement="floating"
            formControlName="email"
            fill="outline"
          >
          </ion-input>
          @if (form.get('email')?.touched && form.get('email')?.invalid) {
          <ion-text color="danger"> Enter a valid email </ion-text>
          }
        </div>

        <div class="form-item">
          <ion-input
            type="password"
            label="Password"
            labelPlacement="floating"
            formControlName="password"
            fill="outline"
          >
          </ion-input>
          @if (form.get('password')?.touched && form.get('password')?.invalid) {
          <ion-text color="danger">
            Password must be at least 6 characters
          </ion-text>
          }
        </div>

        <div class="form-item">
          <ion-input
            type="password"
            label="Confirm Password"
            labelPlacement="floating"
            formControlName="confirmPassword"
            fill="outline"
          >
          </ion-input>

          @if(!passwordsMatch() && form.touched){
          <ion-text color="danger"> Passwords do not match </ion-text>
          } @if (form.get('password')?.touched && form.get('password')?.invalid)
          {
          <ion-text color="danger">
            Password must be at least 6 characters
          </ion-text>
          }
        </div>

        <ion-button expand="block" class="auth-btn" (click)="register()">
          Register
        </ion-button>
      </form>

      <p class="switch">
        Already have an account?
        <a routerLink="/auth/login">Login</a>
      </p>
    </ion-card-content>
  </div>
</ion-content>
