<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon name="reader-outline"></ion-icon>
      Transactions
    </ion-tab-button>
    <ion-tab-button tab="category">
      <ion-icon name="library-outline"></ion-icon>
      Categories
    </ion-tab-button>
    <ion-tab-button tab="reports">
      <ion-icon name="stats-chart-outline"></ion-icon>
      Reports
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
