<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manage Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <div class="form-item">
      <ion-input
        label="Category Name"
        labelPlacement="floating"
        formControlName="name"
        fill="outline"
      >
        <ion-icon slot="start" name="file-tray-stacked-outline"></ion-icon>
      </ion-input>
      @if (form.get('name')?.touched && form.get('name')?.invalid) {
      <ion-text color="danger"> Minimum 3 characters required </ion-text>
      }
    </div>

    <div class="form-item">
      <ion-input
        fill="outline"
        label="Budget Amount"
        labelPlacement="floating"
        type="number"
        formControlName="budgetAmount"
      >
        <ion-icon slot="start" name="cash-outline"> </ion-icon>
      </ion-input>
      @if (form.get('budgetAmount')?.touched &&
      form.get('budgetAmount')?.invalid) {
      <ion-text color="danger"> Enter valid budget amount </ion-text>
      }
    </div>

    <br />

    <ion-button
      expand="block"
      fill="outline"
      [disabled]="form.invalid"
      (click)="saveCategory()"
    >
      Add Category
    </ion-button>
  </form>

  <br />

  <ion-list>
    @for (cat of categories$ | async; track cat.id) {
    <ion-item>
      <ion-label>
        <h4>{{ cat.name }}</h4>
        <p>₹{{ cat.budgetAmount || '0' }}</p>
      </ion-label>

      <!-- <ion-icon
        color="primary"
        name="create-outline"
        slot="end"
        (click)="editCategory(cat.id!)"
      ></ion-icon> -->
      <ion-icon
        color="danger"
        name="trash"
        slot="end"
        (click)="deleteCategory(cat.id!)"
      ></ion-icon>
    </ion-item>

    } @empty {
    <ion-item>
      <ion-label>No categories yet</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>
